*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 62.5%;
}
body {
    overflow: hidden;
  padding: 1rem;
}
.demo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    margin-left: 0rem;
    margin-top: 0rem;
    background: #031d2e;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.demo__header {
    height: 6rem;
    background: #002942;
}
.demo__content {
    overflow: hidden;
    position: relative;
    padding-top: 3.5rem;
    user-select: none;
}
.demo__card-cont {
    position: relative;
    width: 85%;
    height: 56rem;
    margin: 0 auto 0rem;
}
.demo__card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  height: 56rem;
    transform-origin: 50% 100%;
  box-shadow: 0px 0px 12px white;
}
.demo__card.reset {
    transition: transform 0.3s;
    transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
    transition: opacity 0.3s;
    opacity: 0 !important;
}
.demo__card.inactive {
    transition: transform 0.3s;
}
.demo__card.to-left {
    transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
    transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
    z-index: 1;
}
.demo__card__top {
    height: 20.5rem;
    padding-top: 3rem;
}
.demo__card__top.purple {
    background: #7132b9;
}
.demo__card__top.blue {
    background: #248cb6;
}
.demo__card__top.indigo {
    background: #303f9f;
}
.demo__card__top.cyan {
    background: #26c6da;
}
.demo__card__top.lime {
    background: #afb42b;
}
.demo__card__top.brown {
    background: #795548;
}
.demo__card__img {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 1.5rem;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    background-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg');
    background-size: cover;
}
.demo__card__name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.demo__card__btm {
    height:35.5rem;
    background: #fff;
}
.demo__card__we {
    text-align: center;
    font-size: 2.2rem;
    line-height: 11.5rem;
}
.demo__card__choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.demo__card__choice:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    color: #fff;
    border-radius: 50%;
    box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4rem;
    height: 1.5rem;
    margin-left: -2rem;
    border: 0.6rem solid #fff;
    border-bottom: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
    background: #ff945a;
}
.demo__card__choice.m--like {
    background: #b1da96;
}
.demo__card__choice.m--like:after {
    transform: scaleY(-1);
}
.demo__card__drag {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
}
.demo__tip {
    text-align: center;
    font-size: 2.2rem;
}
.star-rating {
 border:solid 0px #ccc;
 display:flex;
 flex-direction: row-reverse;
 font-size:3em;
 justify-content:space-around;
 padding:0 .2em;
 text-align:center;
 width:5em;
}

.star-rating input {
 display:none;
}

.star-rating label {
 color:#ccc;
 cursor:pointer;
}

.star-rating :checked ~ label {
 color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
 color:#fc0;
}
.agent-detail{
 width: 70%;
}
.agent-detail td{
 margin: 3px 0px;

}
.agent-detail > tbody >tr>:first-child{
 width: 80%;
}


.phonering-alo-phone.phonering-alo-static {
   opacity:.6
}

.phonering-alo-phone.phonering-alo-hover,.phonering-alo-phone:hover {
   opacity:1
}

.phonering-alo-ph-circle {
   width:160px;
   height:160px;
   top:20px;
   left:20px;
   position:absolute;
   background-color:transparent;
   border-radius:100% !important;
   border:2px solid rgba(30,30,30,0.4);
   border:2px solid #bfebfc 9;
   opacity:.1;
   -webkit-animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;
   animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;
   transition:all .5s;
   -webkit-transform-origin:50% 50%;
   -ms-transform-origin:50% 50%;
   transform-origin:50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle {
   -webkit-animation:phonering-alo-circle-anim 1.1s infinite ease-in-out!important;
   animation:phonering-alo-circle-anim 1.1s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle {
   -webkit-animation:phonering-alo-circle-anim 2.2s infinite ease-in-out!important;
   animation:phonering-alo-circle-anim 2.2s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle,.phonering-alo-phone:hover .phonering-alo-ph-circle {
   border-color:#00aff2;
   opacity:.5
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle,.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle {
   border-color:#75eb50 ;
   border-color:#baf5a7;
   opacity:.5
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
   border-color:#00aff2 ;
   border-color:#bfebfc;
   opacity:.5
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle,.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle {
   border-color:#ccc;
   opacity:.5
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle {
   border-color:#75eb50 ;
   opacity:.5
}

.phonering-alo-ph-circle-fill {
   width:100px;
   height:100px;
   position:relative;
   background-color: #000;
   border-radius:100% !important;
   border:2px solid transparent;
   -webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
   animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
   transition:all .5s;
   -webkit-transform-origin:50% 50%;
   -ms-transform-origin:50% 50%;
   transform-origin:50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle-fill {
   -webkit-animation:phonering-alo-circle-fill-anim 1.7s infinite ease-in-out!important;
   animation:phonering-alo-circle-fill-anim 1.7s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle-fill {
   -webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out!important;
   animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out!important;
   opacity:0!important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle-fill,.phonering-alo-phone:hover .phonering-alo-ph-circle-fill {
   background-color:rgba(0,175,242,0.5);
   background-color:#00aff2 9;
   opacity:.75!important
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle-fill,.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle-fill {
   background-color:rgba(117,235,80,0.5);
   background-color:#baf5a7 9;
   opacity:.75!important
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill {
   background-color:rgba(0,175,242,0.5);
   background-color:#a6e3fa 9
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle-fill,.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle-fill {
   background-color:rgba(204,204,204,0.5);
   background-color:#ccc 9;
   opacity:.75!important
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle-fill {
   background-color:rgba(117,235,80,0.5);
   opacity:.75!important
}

.phonering-alo-ph-img-circle {
   width:35px;
   height:35px;
   top:50%;
   left: 50%;
   position:absolute;
   background:#00aff2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAB/ElEQVR42uya7W3CMBCG31QM4A1aNggTlG6QbpBMkHYC1AloJ4BOABuEDcgGtBOETnD9c1ERCH/lwxeaV8oPFGP86Hy+DxMREW5Bd7gRjSDSNGn4/RiAOvm8C0ZCRD5PSkQVXSr1nK/xE3mcWimA1ZV3JYBZCIO4giQANoYxMwYS6+xKY4lT5dJPreWZY+uspqSCKPYN27GJVBDXheVSQe494ksiEWTuMXcu1dld9SARxDX1OAJ4lgjy4zDnFsC076A4adEiRwAZg4hOUSpNoCsBPDGM+HqkNGynYBCuILuWj+dgWysGsNe8nwL4GsrW0m2fxZBq9rW0rNcX5MOQ9eZD8JFahcG5g/iKT671alGAYQggpYWvpEPYWrU/HDTOfeRIX0q2SL3QN4tGhZJukVobQyXYWw7WtLDKDIuM+ZSzscyCE9PCy5IttCvnZNaeiGLNHKuz8ZVh/MXTVu/1xQKmIqLEAuJ0fNo3iG5B51oSkeKnsBi/4bG9gYB/lCytU5G9DryFW+3Gm+JLwU7ehbJrwTjq4DJU8bHcVbEV9dXXqqP6uqO5e2/QZRYJpqu2IUAA4B3tXvx8hgKp05QZW6dJqrLTNkB6vrRURLRwPHqtYgkC3cLWQAcDQGGKH13FER/NATzi786+BPDNjm1dMkfjn2pGkBHkf4D8DgBJDuDHx9BN+gAAAABJRU5ErkJggg==) no-repeat center center;
   border-radius:100% !important;
   background-size: cover;
   border:2px solid transparent;
   -webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
   animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
   -webkit-transform-origin:50% 50%;
   -ms-transform-origin:50% 50%;
   transform-origin:50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-img-circle {
   -webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out!important;
   animation:phonering-alo-circle-img-anim 1s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-img-circle {
   -webkit-animation:phonering-alo-circle-img-anim 0 infinite ease-in-out!important;
   animation:phonering-alo-circle-img-anim 0 infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-img-circle,.phonering-alo-phone:hover .phonering-alo-ph-img-circle {
   background-color:#00aff2
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-img-circle,.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-img-circle {
   background-color:#75eb50;
   background-color:#75eb50 9
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
   background-color:#00aff2;
   background-color:#00aff2 9
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-img-circle,.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-img-circle {
   background-color:#ccc
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-img-circle {
   background-color:#75eb50
}

@-webkit-keyframes phonering-alo-circle-anim {
   0% {
       -webkit-transform:rotate(0) scale(.5) skew(1deg);
       -webkit-opacity:.1
   }

   30% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
       -webkit-opacity:.5
   }

   100% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
       -webkit-opacity:.1
   }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
   0% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
       opacity:.2
   }

   50% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
       opacity:.2
   }

   100% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
       opacity:.2
   }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
   0% {
       -webkit-transform:rotate(0) scale(1) skew(1deg)
   }

   10% {
       -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
   }

   20% {
       -webkit-transform:rotate(25deg) scale(1) skew(1deg)
   }

   30% {
       -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
   }

   40% {
       -webkit-transform:rotate(25deg) scale(1) skew(1deg)
   }

   50% {
       -webkit-transform:rotate(0) scale(1) skew(1deg)
   }

   100% {
       -webkit-transform:rotate(0) scale(1) skew(1deg)
   }
}

@-webkit-keyframes fadeInRight {
   0% {
       opacity:0;
       -webkit-transform:translate3d(100%,0,0);
       -ms-transform:translate3d(100%,0,0);
       transform:translate3d(100%,0,0)
   }

   100% {
       opacity:1;
       -webkit-transform:none;
       -ms-transform:none;
       transform:none
   }
}

@keyframes fadeInRight {
   0% {
       opacity:0;
       -webkit-transform:translate3d(100%,0,0);
       -ms-transform:translate3d(100%,0,0);
       transform:translate3d(100%,0,0)
   }

   100% {
       opacity:1;
       -webkit-transform:none;
       -ms-transform:none;
       transform:none
   }
}

@-webkit-keyframes fadeOutRight {
   0% {
       opacity:1
   }

   100% {
       opacity:0;
       -webkit-transform:translate3d(100%,0,0);
       -ms-transform:translate3d(100%,0,0);
       transform:translate3d(100%,0,0)
   }
}

@keyframes fadeOutRight {
   0% {
       opacity:1
   }

   100% {
       opacity:0;
       -webkit-transform:translate3d(100%,0,0);
       -ms-transform:translate3d(100%,0,0);
       transform:translate3d(100%,0,0)
   }
}

@-webkit-keyframes phonering-alo-circle-anim {
   0% {
       -webkit-transform:rotate(0) scale(.5) skew(1deg);
               transform:rotate(0) scale(.5) skew(1deg);
       opacity:.1
   }

   30% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
               transform:rotate(0) scale(.7) skew(1deg);
       opacity:.5
   }

   100% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg);
       opacity:.1
   }
}

@keyframes phonering-alo-circle-anim {
   0% {
       -webkit-transform:rotate(0) scale(.5) skew(1deg);
               transform:rotate(0) scale(.5) skew(1deg);
       opacity:.1
   }

   30% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
               transform:rotate(0) scale(.7) skew(1deg);
       opacity:.5
   }

   100% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg);
       opacity:.1
   }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
   0% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
               transform:rotate(0) scale(.7) skew(1deg);
       opacity:.2
   }

   50% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg);
       opacity:.2
   }

   100% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
               transform:rotate(0) scale(.7) skew(1deg);
       opacity:.2
   }
}

@keyframes phonering-alo-circle-fill-anim {
   0% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
               transform:rotate(0) scale(.7) skew(1deg);
       opacity:.2
   }

   50% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg);
       opacity:.2
   }

   100% {
       -webkit-transform:rotate(0) scale(.7) skew(1deg);
               transform:rotate(0) scale(.7) skew(1deg);
       opacity:.2
   }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
   0% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg)
   }

   10% {
       -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
               transform:rotate(-25deg) scale(1) skew(1deg)
   }

   20% {
       -webkit-transform:rotate(25deg) scale(1) skew(1deg);
               transform:rotate(25deg) scale(1) skew(1deg)
   }

   30% {
       -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
               transform:rotate(-25deg) scale(1) skew(1deg)
   }

   40% {
       -webkit-transform:rotate(25deg) scale(1) skew(1deg);
               transform:rotate(25deg) scale(1) skew(1deg)
   }

   50% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg)
   }

   100% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg)
   }
}

@keyframes phonering-alo-circle-img-anim {
   0% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg)
   }

   10% {
       -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
               transform:rotate(-25deg) scale(1) skew(1deg)
   }

   20% {
       -webkit-transform:rotate(25deg) scale(1) skew(1deg);
               transform:rotate(25deg) scale(1) skew(1deg)
   }

   30% {
       -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
               transform:rotate(-25deg) scale(1) skew(1deg)
   }

   40% {
       -webkit-transform:rotate(25deg) scale(1) skew(1deg);
               transform:rotate(25deg) scale(1) skew(1deg)
   }

   50% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg)
   }

   100% {
       -webkit-transform:rotate(0) scale(1) skew(1deg);
               transform:rotate(0) scale(1) skew(1deg)
   }
}