body{
    background: #031d2e;
    font-family: 'Roboto';
    margin: 0.5rem !important;
}

.card-bg{
    background-color: #07273c !important;
}
.row{
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 20px;
}
.row .col {
float: left;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding: 0 .75rem;
min-height: 1px;
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.card {
position: relative;
margin: .5rem 0 1rem 0;
background-color: #fff;
-webkit-transition: -webkit-box-shadow .25s;
transition: -webkit-box-shadow .25s;
transition: box-shadow .25s;
transition: box-shadow .25s, -webkit-box-shadow .25s;
border-radius: 2px;
}